<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICurrencyNameProvider" />
            </basicHttpBinding>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_ICurrencyTickProvider">
                    <security mode="None" />
                </binding>
                <binding name="WSDualHttpBinding_ICurrencyResultSummaries">
                    <security mode="None" />
                </binding>
                <binding name="WSDualHttpBinding_ICurrencyResultSummaries1">
                    <security mode="None" />
                </binding>
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://25.43.220.53:10001/name/currencyName"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICurrencyNameProvider"
                contract="Name.ICurrencyNameProvider" name="BasicHttpBinding_ICurrencyNameProvider" />
            <endpoint address="http://25.43.220.53:10001/summary/currencyResultSummary"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_ICurrencyResultSummaries"
                contract="Summary.ICurrencyResultSummaries" name="WSDualHttpBinding_ICurrencyResultSummaries" />
            <endpoint address="http://25.43.220.53:10001/summary/currencyResultSummary"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_ICurrencyResultSummaries1"
                contract="Tick.ICurrencyResultSummaries" name="WSDualHttpBinding_ICurrencyResultSummaries1" />
            <endpoint address="http://25.43.220.53:10001/tick/currencyTick"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_ICurrencyTickProvider"
                contract="Tick.ICurrencyTickProvider" name="WSDualHttpBinding_ICurrencyTickProvider" />
        </client>
    </system.serviceModel>
</configuration>